<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //for-mobile-apps -->
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/static/css/style.css" rel="stylesheet" media="all"/>
    <link rel="stylesheet" href="/static/css/contactstyle.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="/static/css/faqstyle.css" type="text/css" media="all"/>
    <link href="/static/css/single.css" rel='stylesheet' type='text/css'/>
    <link href="/static/css/medile.css" rel='stylesheet' type='text/css'/>
    <!-- banner-slider -->
    <link href="/static/css/jquery.slidey.min.css" rel="stylesheet">
    <!-- //banner-slider -->
    <!-- pop-up -->
    <link href="/static/css/popuo-box.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- //pop-up -->
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="/static/css/font-awesome.min.css"/>
    <!-- //font-awesome icons -->
    <!-- js -->
    <script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <!-- banner-bottom-plugin -->
    <link href="/static/css/owl.carousel.css" rel="stylesheet" type="text/css" media="all">
    <script src="/static/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({

                autoPlay: 3000, //Set AutoPlay to 3 seconds

                items: 5,
                itemsDesktop: [640, 4],
                itemsDesktopSmall: [414, 3]

            });

        });
    </script>
    <!-- //banner-bottom-plugin -->
    <!---<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>--->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="/static/js/move-top.js"></script>
    <script type="text/javascript" src="/static/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
</head>

<body>
<!-- header -->
<div class="header">
    <div class="container">
        <div class="w3layouts_logo">
            <a href="index.html"><h1>one<span>Movies</span></h1></a>
        </div>
        <div class="w3_search">
            <form action="/list/search/" method="post" id="searchMovie">
                {% csrf_token %}
                <input type="text" name="Search" placeholder="搜索" required="" id="searchContent">
                <input type="submit" value="确定">
            </form>
        </div>
        <div class="w3l_sign_in_register">
            <ul>
                {% if user.id %}
                    <li><i class="fa fa-phone" aria-hidden="true"></i>{{ user.tel }}</li>
                    <li><a href="#" id="log1">{{ user.name }}</a></li>
                    <li><a href="" id="log2" onclick="logout()">退出</a></li>
                {% else %}
                    <li><a href="#" data-toggle="modal" data-target="#myModal" id="log1">登录</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //header -->
<!-- bootstrap-pop-up -->
<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Sign In & Sign Up
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <section>
                <div class="modal-body">
                    <div class="w3_login_module">
                        <div class="module form-module">
                            <div class="toggle"><i class="fa fa-times fa-pencil"></i>
                                <div class="tooltip">Click Me</div>
                            </div>
                            <div class="form form1">
                                <h3>Login to your account</h3>
                                <form action="/index/login/" method="post">
                                    {% csrf_token %}
                                    <input type="text" name="phone" id="Username" placeholder="用户" required="">
                                    <input type="password" name="password" id="Password" placeholder="密码" required="">
                                    <input type="submit" value="登录">
                                </form>
                            </div>
                            <div class="form form2">
                                <h3>Create an account</h3>
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="text" name="Username" id="username" placeholder="用户" required="">
                                    <input type="password" name="Password" id="password" placeholder="密码" required="">
                                    <input type="email" name="Email" id="email" placeholder="邮箱" required="">
                                    <input type="text" name="Phone" id="phone" placeholder="电话号码" required="">
                                    <button type="submit">注册</button>
                                </form>
                            </div>
                            <div class="cta"><a href="#">忘记密码?</a></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script>
    $('.toggle').click(function () {
        // Switches the Icon
        $(this).children('i').toggleClass('fa-pencil');
        // Switches the forms
        $('.form').animate({
            height: "toggle",
            'padding-top': 'toggle',
            'padding-bottom': 'toggle',
            opacity: "toggle"
        }, "slow");
    });
</script>
<!-- //bootstrap-pop-up -->
<!-- nav -->
    <div class="movies_nav">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header navbar-left">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <nav>
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/index/index/">首页</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">电影类型分类<b class="caret"></b></a>
                                <ul class="dropdown-menu multi-column columns-3">
                                    <li>
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">

                                                {% for type in types %}
                                                   <li><a href="/index/classify/{{ type.id }}/">{{ type.type_name }}</a></li>
                                                {% endfor %}

                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                </ul>
                            </li>

                            <li><a href="/news/movnews/">新闻</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">电影地区分类<b class="caret"></b></a>
                                <ul class="dropdown-menu multi-column columns-3">
                                    <li>
                                        {% for area in areas %}
                                            {% if forloop.counter >= 0 and forloop.counter <= 13 %}
                                                <div class="col-sm-4">
                                                    <ul class="multi-column-dropdown">
                                                        <li><a href="/area/area/{{ area.id }}/">{{ area.area_name }}</a></li>
                                                    </ul>
                                                </div>
                                            {% endif %}
                                            {% if forloop.counter > 13 and forloop.counter <= 26 %}
                                                <div class="col-sm-4">
                                                    <ul class="multi-column-dropdown">
                                                        <li><a href="/area/area/{{ area.id }}/">{{ area.area_name }}</a></li>
                                                    </ul>
                                                </div>
                                            {% endif %}
                                            {% if forloop.counter > 26 %}
                                                <div class="col-sm-4">
                                                    <ul class="multi-column-dropdown">
                                                        <li><a href="/area/area/{{ area.id }}/">{{ area.area_name }}</a></li>
                                                    </ul>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        <div class="clearfix"></div>
                                    </li>
                                </ul>
                            </li>

                            <li><a href="/list/lista/{{ 0 }}/">A - z list</a></li>
                        </ul>
                    </nav>
                </div>
            </nav>
        </div>
    </div>
<!-- //nav -->
<!-- banner -->
<!-- 大图轮播   -->
<div id="slidey" style="display:none;">
    <ul>
        <li><img src="/static/images/5.jpg" alt=" ">
            <p class='title'>Tarzan</p>
            <p class='description'> Tarzan, having acclimated to life in London, is called back to his former home in
                the jungle to investigate the activities at a mining encampment.</p></li>
        <li><img src="/static/images/2.jpg" alt=" ">
            <p class='title'>Maximum Ride</p>
            <p class='description'>Six children, genetically cross-bred with avian DNA, take flight around the country
                to discover their origins. Along the way, their mysterious past is ...</p></li>
        <li><img src="/static/images/3.jpg" alt=" ">
            <p class='title'>Independence</p>
            <p class='description'>The fate of humanity hangs in the balance as the U.S. President and citizens decide
                if these aliens are to be trusted ...or feared.</p></li>
        <li><img src="/static/images/4.jpg" alt=" ">
            <p class='title'>Central Intelligence</p>
            <p class='description'>Bullied as a teen for being overweight, Bob Stone (Dwayne Johnson) shows up to his
                high school reunion looking fit and muscular. Claiming to be on a top-secret ...</p></li>
        <li><img src="/static/images/6.jpg" alt=" ">
            <p class='title'>Ice Age</p>
            <p class='description'>In the film's epilogue, Scrat keeps struggling to control the alien ship until it
                crashes on Mars, destroying all life on the planet.</p></li>
        <li><img src="/static/images/7.jpg" alt=" ">
            <p class='title'>X - Man</p>
            <p class='description'>In 1977, paranormal investigators Ed (Patrick Wilson) and Lorraine Warren come out of
                a self-imposed sabbatical to travel to Enfield, a borough in north ...</p></li>
    </ul>
</div>
<script src="/static/js/jquery.slidey.js"></script>
<script src="/static/js/jquery.dotdotdot.min.js"></script>
<script type="text/javascript">
    $("#slidey").slidey({
        interval: 8000,
        listCount: 5,
        autoplay: false,
        showList: true
    });
    $(".slidey-list-description").dotdotdot();
</script>
<!-- //banner -->
<!-- banner-bottom -->
<div class="banner-bottom">
    <div class="container">
        <div class="w3_agile_banner_bottom_grid">
            <div id="owl-demo" class="owl-carousel owl-theme">
                {% for movie in movies %}
                    {% if forloop.counter >= 0 and forloop.counter <= 8 %}
                        <div class="item">
                            <div class="w3l-movie-gride-agile w3l-movie-gride-agile1">
                                <a href="/single/single/{{movie.id}}/" class="hvr-shutter-out-horizontal"><img src="{{ movie.img }}"
                                                                                              style="width: 215px;height: 322px"
                                                                                              title="album-name"
                                                                                              class="img-responsive"
                                                                                              alt=" "/>
                                    <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i>
                                    </div>
                                </a>
                                <div class="mid-1 agileits_w3layouts_mid_1_home">
                                    <div class="w3l-movie-text">
                                        <h6><a href="/single/single/{{movie.id}}/">{{ movie.name }}</a></h6>
                                    </div>
                                    <div class="mid-2 agile_mid_2_home">
                                        <p>{{ movie.year }}</p>
                                        <div class="block-stars">
                                            <ul class="w3l-ratings">
                                                <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="ribben">
                                    <p>NEW</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</div>
<!-- //banner-bottom -->
<div class="general_social_icons">
    <nav class="social">
        <ul>
            <li class="w3_twitter"><a href="#">Twitter <i class="fa fa-twitter"></i></a></li>
            <li class="w3_facebook"><a href="#">Facebook <i class="fa fa-facebook"></i></a></li>
            <li class="w3_dribbble"><a href="#">Dribbble <i class="fa fa-dribbble"></i></a></li>
            <li class="w3_g_plus"><a href="#">Google+ <i class="fa fa-google-plus"></i></a></li>
        </ul>
    </nav>
</div>
<!-- general -->
<div class="general">
    <h4 class="latest-text w3_latest_text">经典电影</h4>
    <div class="container">
        <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab"
                                                          aria-controls="home" aria-expanded="true">经典</a></li>
                <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab"
                                           aria-controls="profile" aria-expanded="false">高收视</a></li>
                <li role="presentation"><a href="#rating" id="rating-tab" role="tab" data-toggle="tab"
                                           aria-controls="rating" aria-expanded="true">高评分</a></li>
                <li role="presentation"><a href="#imdb" role="tab" id="imdb-tab" data-toggle="tab" aria-controls="imdb"
                                           aria-expanded="false">新加</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
                    <div class="w3_agile_featured_movies">
                        {% for all_movie in allmovies %}
                            {% if forloop.counter > 8 and forloop.counter < 21 %}
                                <div class="col-md-2 w3l-movie-gride-agile">
                                    <a href="/single/single/{{ all_movie.id }}/" class="hvr-shutter-out-horizontal"><img
                                            src="{{ all_movie.img }} "
                                            style="width: 141px;height: 208px"
                                            title="album-name"
                                            class="img-responsive"
                                            alt=" "/>
                                        <div class="w3l-action-icon"><i class="fa fa-play-circle"
                                                                        aria-hidden="true"></i>
                                        </div>
                                    </a>
                                    <div class="mid-1 agileits_w3layouts_mid_1_home">
                                        <div class="w3l-movie-text">
                                            <h6><a href="single.html">{{ all_movie.name }}</a></h6>
                                        </div>
                                        <div class="mid-2 agile_mid_2_home">
                                            <p>{{ all_movie.year }}</p>
                                            <div class="block-stars">
                                                <ul class="w3l-ratings">
                                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="ribben">
                                        <p>NEW</p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
                    {% for top_view_movie in top_view_movies %}
                    <div class="col-md-2 w3l-movie-gride-agile">
                        <a href="/single/single/{{ top_view_movie.id }}/" class="hvr-shutter-out-horizontal"><img src="{{ top_view_movie.img }}"
                                                                                      style="width: 141px;height: 208px"
                                                                                      title="album-name"
                                                                                      class="img-responsive" alt=" "/>
                            <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                        </a>
                        <div class="mid-1 agileits_w3layouts_mid_1_home">
                            <div class="w3l-movie-text">
                                <h6><a href="single.html">{{ top_view_movie.name }}</a></h6>
                            </div>
                            <div class="mid-2 agile_mid_2_home">
                                <p>{{ top_view_movie.year }}</p>
                                <div class="block-stars">
                                    <ul class="w3l-ratings">
                                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="ribben">
                            <p>NEW</p>
                        </div>
                    </div>
                {% endfor %}

                    <div class="clearfix"></div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="rating" aria-labelledby="rating-tab">

                    {% for top_score_movie in top_score_movies %}
                        {% if forloop.counter > 0 and forloop.counter < 7 %}
                        <div class="col-md-2 w3l-movie-gride-agile">
                            <a href="/single/single/{{ top_score_movie.id }}" class="hvr-shutter-out-horizontal"><img src="{{ top_score_movie.img }}"
                                                                                          style="width: 141px;height: 208px"
                                                                                          title="album-name"
                                                                                          class="img-responsive"
                                                                                          alt=" "/>
                                <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                            </a>
                            <div class="mid-1 agileits_w3layouts_mid_1_home">
                                <div class="w3l-movie-text">
                                    <h6><a href="single.html">{{ top_score_movie.name }}</a></h6>
                                </div>
                                <div class="mid-2 agile_mid_2_home">
                                    <p>{{ top_score_movie.year }}</p>
                                    <div class="block-stars">
                                        <ul class="w3l-ratings">
                                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a>
                                            </li>
                                            <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="ribben">
                                <p>NEW</p>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}


                    <div class="clearfix"></div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="imdb" aria-labelledby="imdb-tab">

                    {% for new_movie in new_movies %}
                    <div class="col-md-2 w3l-movie-gride-agile">
                        <a href="single.html" class="hvr-shutter-out-horizontal"><img src="{{ new_movie.img }}" style="width: 141px;height: 208px"
                                                                                      title="album-name"
                                                                                      class="img-responsive" alt=" "/>
                            <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                        </a>
                        <div class="mid-1 agileits_w3layouts_mid_1_home">
                            <div class="w3l-movie-text">
                                <h6><a href="single.html">{{ new_movie.name }}</a></h6>
                            </div>
                            <div class="mid-2 agile_mid_2_home">
                                <p>{{ new_movie.year }}</p>
                                <div class="block-stars">
                                    <ul class="w3l-ratings">
                                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="ribben">
                            <p>NEW</p>
                        </div>
                    </div>
                {% endfor %}

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //general -->
<!-- Latest-tv-series -->
<div class="Latest-tv-series">
    <h4 class="latest-text w3_latest_text w3_home_popular">最受欢迎的电影</h4>
    <div class="container">
        <section class="slider">
            <div class="flexslider">
                <ul class="slides">
                    {% for popular_movie in popular_movies %}
                    <li>
                        <div class="agile_tv_series_grid">
                            <div class="col-md-6 agile_tv_series_grid_left">
                                <div class="w3ls_market_video_grid1">
                                    <img src="{{ popular_movie.img }}" alt=" " class="img-responsive" style="width: 470px;height: 312px"/>
                                    <a class="w3_play_icon" href="#small-dialog">
                                        <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6 agile_tv_series_grid_right">
                                <p class="fexi_header">{{ popular_movie.name }}</p>
                                <p class="fexi_header_para"><span class="conjuring_w3">电影描述<label>:</label></span>
                                    {{ popular_movie.des }}
                                    </p>
                                <p class="fexi_header_para"><span>电影上映时间<label>:</label></span>{{ popular_movie.year }}
                                </p>
                                <p class="fexi_header_para">
                                    <span>电影类型<label>:</label> </span>
                                    <a href="/index/classify/{{ popular_movie.type_id }}/">{{ popular_movie.type.type_name }}</a>
                                </p>
                                <p class="fexi_header_para fexi_header_para1"><span>电影评分<label>:</label></span>
                                    {{ popular_movie.score }}
                                </p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="agileinfo_flexislider_grids">
                                {% if forloop.counter == 1 %}
                                    {% for many_popular in many_populars %}
                                        {% if forloop.counter >= 4 and forloop.counter <= 9 %}
                                            <div class="col-md-2 w3l-movie-gride-agile">
                                                <a href="/single/single/{{ many_popular.id }}/" class="hvr-shutter-out-horizontal"><img
                                                        src="{{ many_popular.img }}" title="album-name" class="img-responsive"
                                                        alt=" " style="width: 141px;height: 208px"/>
                                                    <div class="w3l-action-icon"><i class="fa fa-play-circle"
                                                                                    aria-hidden="true"></i></div>
                                                </a>
                                                <div class="mid-1 agileits_w3layouts_mid_1_home">
                                                    <div class="w3l-movie-text">
                                                        <h6><a href="/single/single/{{ many_popular.id }}/">{{ many_popular.name }}</a></h6>
                                                    </div>
                                                    <div class="mid-2 agile_mid_2_home">
                                                        <p>{{ many_popular.year }}</p>
                                                        <div class="block-stars">
                                                            <ul class="w3l-ratings">
                                                                {{ many_popular.score }}
                                                            </ul>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                                <div class="ribben">
                                                    <p>NEW</p>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                {% if forloop.counter == 2 %}
                                    {% for many_popular in many_populars %}
                                        {% if forloop.counter >= 10 and forloop.counter <= 15 %}
                                            <div class="col-md-2 w3l-movie-gride-agile">
                                                <a href="/single/single/{{ many_popular.id }}/" class="hvr-shutter-out-horizontal"><img
                                                        src="{{ many_popular.img }}" title="album-name" class="img-responsive"
                                                        alt=" " style="width: 141px;height: 208px"/>
                                                    <div class="w3l-action-icon"><i class="fa fa-play-circle"
                                                                                    aria-hidden="true"></i></div>
                                                </a>
                                                <div class="mid-1 agileits_w3layouts_mid_1_home">
                                                    <div class="w3l-movie-text">
                                                        <h6><a href="/single/single/{{ many_popular.id }}/">{{ many_popular.name }}</a></h6>
                                                    </div>
                                                    <div class="mid-2 agile_mid_2_home">
                                                        <p>{{ many_popular.year }}</p>
                                                        <div class="block-stars">
                                                            <ul class="w3l-ratings">
                                                                {{ many_popular.score }}
                                                            </ul>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                                <div class="ribben">
                                                    <p>NEW</p>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                {% if forloop.counter == 3 %}
                                        {% for many_popular in many_populars %}
                                            {% if forloop.counter >= 17 and forloop.counter <= 22 %}
                                                <div class="col-md-2 w3l-movie-gride-agile">
                                                    <a href="/single/single/{{ many_popular.id }}" class="hvr-shutter-out-horizontal"><img
                                                            src="{{ many_popular.img }}" title="album-name" class="img-responsive"
                                                            alt=" " style="width: 141px;height: 208px"/>
                                                        <div class="w3l-action-icon"><i class="fa fa-play-circle"
                                                                                        aria-hidden="true"></i></div>
                                                    </a>
                                                    <div class="mid-1 agileits_w3layouts_mid_1_home">
                                                        <div class="w3l-movie-text">
                                                            <h6><a href=/single/single/{{ many_popular.id }}/">{{ many_popular.name }}</a></h6>
                                                        </div>
                                                        <div class="mid-2 agile_mid_2_home">
                                                            <p>{{ many_popular.year }}</p>
                                                            <div class="block-stars">
                                                                <ul class="w3l-ratings">
                                                                    {{ many_popular.score }}
                                                                </ul>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>
                                                    <div class="ribben">
                                                        <p>NEW</p>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}


                </ul>
            </div>
        </section>
        <!-- flexSlider -->
        <link rel="stylesheet" href="/static/css/flexslider.css" type="text/css" media="screen" property=""/>
        <script defer src="/static/js/jquery.flexslider.js"></script>
        <script type="text/javascript">
            $(window).load(function () {
                $('.flexslider').flexslider({
                    animation: "slide",
                    start: function (slider) {
                        $('body').removeClass('loading');
                    }
                });
            });
        </script>
        <!-- //flexSlider -->
    </div>
</div>
<!-- pop-up-box -->
<script src="/static/js/jquery.magnific-popup.js" type="text/javascript"></script>
<!--//pop-up-box -->
<div id="small-dialog" class="mfp-hide">
    <!---<iframe src="https://player.vimeo.com/video/164819130?title=0&byline=0"></iframe>--->
</div>
<div id="small-dialog1" class="mfp-hide">
    <!---<iframe src="https://player.vimeo.com/video/148284736"></iframe>--->
</div>
<div id="small-dialog2" class="mfp-hide">
    <!---<iframe src="https://player.vimeo.com/video/165197924?color=ffffff&title=0&byline=0&portrait=0"></iframe>--->
</div>
<script>
    $(document).ready(function () {
        $('.w3_play_icon,.w3_play_icon1,.w3_play_icon2').magnificPopup({
            type: 'inline',
            fixedContentPos: false,
            fixedBgPos: true,
            overflowY: 'auto',
            closeBtnInside: true,
            preloader: false,
            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });

    });
</script>
<!-- //Latest-tv-series -->
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="w3ls_footer_grid">
            <div class="col-md-6 w3ls_footer_grid_left">
                <div class="w3ls_footer_grid_left1">
                    <h2>Subscribe to us</h2>
                    <div class="w3ls_footer_grid_left1_pos">
                        <form action="#" method="post">
                            <input type="email" name="email" placeholder="Your email..." required="">
                            <input type="submit" value="Send">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 w3ls_footer_grid_right">
                <a href="/index/index/"><h2>One<span>Movies</span></h2></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-5 w3ls_footer_grid1_left">
            <p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank"
                                                                         href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
            </p>
        </div>
        <div class="col-md-7 w3ls_footer_grid1_right">
            <ul>
                <li>
                    <a href="/index/index/">首页</a>
                </li>
                <li>
                    <a href="/index/classify/1/">动作片</a>
                </li>
                <li>
                    <a href="/index/classify/6/">爱情片</a>
                </li>
                <li>
                    <a href="/index/classify/4/">悬疑片</a>
                </li>
                <li>
                    <a href="/index/classify/5/">恐怖片</a>
                </li>
                <li>
                    <a href="/index/classify/8/">科幻片</a>
                </li>
                <li>
                    <a href="/index/contact/">Contact Us</a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
<script src="/static/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $(".dropdown").hover(
            function () {
                $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                $(this).toggleClass('open');
            },
            function () {
                $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });
</script>
<!-- //Bootstrap Core JavaScript -->
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({easingType: 'easeOutQuart'});
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
        });

    });
</script>
<script src="/static/js/register.js"></script>
<script src="/static/js/logout.js"></script>
<!-- //here ends scrolling icon -->
</body>
</html>