<!DOCTYPE html>
<html lang="en">
<head>
    <title>News</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //for-mobile-apps -->
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="/static/css/faqstyle.css" type="text/css" media="all"/>
    <link href="/static/css/single.css" rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="/static/css/contactstyle.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="/static/css/medile.css">
    <!-- news-css -->
    <link rel="stylesheet" href="/static/news-css/news.css" type="text/css" media="all"/>
    <!-- //news-css -->
    <!-- list-css -->
    <link rel="stylesheet" href="/static/list-css/list.css" type="text/css" media="all"/>
    <!-- //list-css -->
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="/static/css/font-awesome.min.css"/>
    <!-- //font-awesome icons -->
    <!-- js -->
    <script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <!---<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>--->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="/static/js/move-top.js"></script>
    <script type="text/javascript" src="/static/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
</head>

<body>
<!-- header -->
<div class="header">
    <div class="container">
        <div class="w3layouts_logo">
            <a href="/index/index/"><h1>One<span>Movies</span></h1></a>
        </div>
        <div class="w3_search">
            <form action="/list/search/" method="post">
                {% csrf_token %}
                <input type="text" name="Search" placeholder="搜索" required="">
                <input type="submit" value="确定">
            </form>
        </div>
        <div class="w3l_sign_in_register">
            <ul>
                {% if user.id %}
                    <li><i class="fa fa-phone" aria-hidden="true"></i>{{ user.tel }}</li>
                    <li><a href="#" id="log1">{{ user.name }}</a></li>
                    <li><a href="" id="log2" onclick="logout()">退出</a></li>
                {% else %}
                    <li><a href="#" data-toggle="modal" data-target="#myModal" id="log1">登录</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //header -->
<!-- bootstrap-pop-up -->
<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Sign In & Sign Up
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <section>
                <div class="modal-body">
                    <div class="w3_login_module">
                        <div class="module form-module">
                            <div class="toggle"><i class="fa fa-times fa-pencil"></i>
                                <div class="tooltip">Click Me</div>
                            </div>
                            <div class="form form1">
                                <h3>Login to your account</h3>
                                <form action="/index/login/" method="post">
                                    {% csrf_token %}
                                    <input type="text" name="phone" id="Username" placeholder="用户" required="">
                                    <input type="password" name="password" id="Password" placeholder="密码" required="">
                                    <input type="submit" value="登录">
                                </form>
                            </div>
                            <div class="form form2">
                                <h3>Create an account</h3>
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="text" name="Username" id="username" placeholder="用户" required="">
                                    <input type="password" name="Password" id="password" placeholder="密码" required="">
                                    <input type="email" name="Email" id="email" placeholder="邮箱" required="">
                                    <input type="text" name="Phone" id="phone" placeholder="电话号码" required="">
                                    <button type="submit">注册</button>
                                </form>
                            </div>
                            <div class="cta"><a href="#">Forgot your password?</a></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script>
    $('.toggle').click(function () {
        // Switches the Icon
        $(this).children('i').toggleClass('fa-pencil');
        // Switches the forms
        $('.form').animate({
            height: "toggle",
            'padding-top': 'toggle',
            'padding-bottom': 'toggle',
            opacity: "toggle"
        }, "slow");
    });
</script>
<!-- //bootstrap-pop-up -->
<!-- nav -->
<div class="movies_nav">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header navbar-left">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <nav>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/index/index/">首页</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">电影类型分类<b class="caret"></b></a>
                            <ul class="dropdown-menu multi-column columns-3">
                                <li>
                                    <div class="col-sm-4">
                                        <ul class="multi-column-dropdown">

                                            {% for type in types %}
                                                <li><a href="/index/classify/{{ type.id }}/">{{ type.type_name }}</a>
                                                </li>
                                            {% endfor %}

                                        </ul>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                            </ul>
                        </li>

                        <li><a href="/news/movnews/">新闻</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">电影地区分类<b class="caret"></b></a>
                            <ul class="dropdown-menu multi-column columns-3">
                                <li>
                                    {% for area in areas %}
                                        {% if forloop.counter >= 0 and forloop.counter <= 13 %}
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <li><a href="/area/area/{{ area.id }}/">{{ area.area_name }}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        {% endif %}
                                        {% if forloop.counter > 13 and forloop.counter <= 26 %}
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <li><a href="/area/area/{{ area.id }}/">{{ area.area_name }}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        {% endif %}
                                        {% if forloop.counter > 26 %}
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <li><a href="/area/area/{{ area.id }}/">{{ area.area_name }}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    <div class="clearfix"></div>
                                </li>
                            </ul>
                        </li>

                        <li><a href="/list/lista/{{ 0 }}/">A - z list</a></li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
</div>
<!-- //nav -->
<div class="general_social_icons">
    <nav class="social">
        <ul>
            <li class="w3_twitter"><a href="#">Twitter <i class="fa fa-twitter"></i></a></li>
            <li class="w3_facebook"><a href="#">Facebook <i class="fa fa-facebook"></i></a></li>
            <li class="w3_dribbble"><a href="#">Dribbble <i class="fa fa-dribbble"></i></a></li>
            <li class="w3_g_plus"><a href="#">Google+ <i class="fa fa-google-plus"></i></a></li>
        </ul>
    </nav>
</div>
<!-- faq-banner -->
<div class="faq">
    <div class="container">
        <div class="agileits-news-top">
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">News</li>
            </ol>
        </div>
        <div class="agileinfo-news-top-grids">
            <div class="col-md-8 wthree-top-news-left">
                <div class="wthree-news-left">
                    <div class="bs-example bs-example-tabs" role="tabpanel" data-ewxample-id="togglable-tabs">

                        <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="home1" aria-labelledby="home1-tab">
                                <!-- news -->
                                <div class="wthree-news-top-left">
                                    <div class="col-md-6 w3-agileits-news-left">
                                        {% for page1 in pages1 %}
                                            <div class="col-sm-5 wthree-news-img">
                                                <a href="/news/newSingle/{{ page1.id }}/"><img src="{{ page1.img }}" alt=""/></a>
                                            </div>
                                            <div class="col-sm-7 wthree-news-info">
                                                <h5><a href="/news/newSingle/{{ page1.id }}/">{{ page1.title }}</a></h5>
                                                <p>
                                                    {% if page1.short_content|length >= 50 %}
                                                        {{ page1.short_content|slice:"50" }}...
                                                    {% else %}
                                                        {{ page1.short_content }}
                                                    {% endif %}
                                                </p>
                                                <ul>
                                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i>{{ page1.time }}</li>
                                                    <li><i class="fa fa-eye" aria-hidden="true"></i>{{ page1.view }}</li>
                                                </ul>
                                            </div>
                                        {% endfor %}
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-md-6 w3-agileits-news-left">
                                        {% for page2 in pages2 %}
                                            <div class="col-sm-5 wthree-news-img">
                                                <a href="/news/newSingle/{{ page2.id }}/"><img src="{{ page2.img }}" alt=""/></a>
                                            </div>
                                            <div class="col-sm-7 wthree-news-info">
                                                <h5><a href="/news/newSingle/{{ page2.id }}/">{{ page2.title }}</a></h5>
                                                <p>
                                                    {% if page2.short_content|length >= 50 %}
                                                        {{ page2.short_content|slice:"50" }}...
                                                    {% else %}
                                                        {{ page2.short_content }}
                                                    {% endif %}
                                                </p>
                                                <ul>
                                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i>{{ page2.time }}</li>
                                                    <li><i class="fa fa-eye" aria-hidden="true"></i>{{ page2.view }}</li>
                                                </ul>
                                            </div>
                                        {% endfor %}
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>

                                </div>
                                <!-- //news -->
                                <div class="blog-pagenat-wthree">
                                    <ul>

                                    {% if pages.has_previous %}
                                        <li><a class="frist" href="/news/movnews/?page_id={{ pages.previous_page_number }}">Prev</a>
                                        </li>
                                    {% endif %}

                                    {% for i in pages.paginator.page_range %}
                                        <li><a href="/news/movnews/?page_id={{ i }}">{{ i }}</a></li>
                                    {% endfor %}

                                    {% if pages.has_next %}
                                        <li><a class="last"
                                               href="/news/movnews/?page_id={{ pages.next_page_number }}">Next</a>
                                        </li>
                                    {% endif %}

                                    </ul>
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="w3bsd" aria-labelledby="w3bsd-tab">
                                <div class="wthree-news-top-left">
                                    {% for new in news %}
                                    <!-- news -->
                                    <div class="col-md-6 w3-agileits-news-left">
                                        <div class="col-sm-5 wthree-news-img">
                                            <a href="/news/newSingle/{{ new.id }}/"><img src="{{ new.img }}" alt="" /></a>
                                        </div>
                                        <div class="col-sm-7 wthree-news-info">
                                            <h5><a href="/news/newSingle/{{ new.id }}/">{{ new.title }}</a></h5>
                                            <p>{{ new.short_content }}</p>
                                            <ul>
                                                <li><i class="fa fa-clock-o" aria-hidden="true"></i>{{ new.time }}</li>
                                                <li><i class="fa fa-eye" aria-hidden="true"></i>{{ new.view }}</li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>

                                    <!-- news -->
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wthree-news-right">
                <!-- news-right-top -->
                <div class="news-right-top">
                    <div class="wthree-news-right-heading">
                        <h3>Updated News</h3>
                    </div>
                    <div class="wthree-news-right-top">
                        <div class="news-grids-bottom">
                            <!-- date -->
                            <div id="design" class="date">
                                <div id="cycler">
                                    {% for page in update_news %}
                                    <!-- news -->
                                    <div class="date-text">
                                        <a href="/news/newSingle/{{ page.id }}/">{{ page.time }}<span class="blinking"><img src="/static/images/new.png" alt="" /></span></a>
                                        <p>
                                            {% if page.short_content|length >= 30 %}
                                                {{ page.short_content|slice:"30" }}...
                                            {% else %}
                                                {{ page.short_content }}
                                            {% endif %}
                                        </p>
                                    </div>
                                    <!-- news -->
                                    {% endfor %}
                                </div>
                                <script>
                                    function blinker() {
                                        $('.blinking').fadeOut(500);
                                        $('.blinking').fadeIn(500);
                                    }

                                    setInterval(blinker, 1000);
                                </script>
                                <script>
                                    function cycle($item, $cycler) {
                                        setTimeout(cycle, 2000, $item.next(), $cycler);

                                        $item.slideUp(1000, function () {
                                            $item.appendTo($cycler).show();
                                        });
                                    }

                                    cycle($('#cycler div:first'), $('#cycler'));
                                </script>
                            </div>
                            <!-- //date -->
                        </div>
                    </div>
                </div>
                <!-- //news-right-top -->
                <!-- news-right-bottom -->
                <div class="news-right-bottom">
                    <div class="wthree-news-right-heading">
                        <h3>Top News</h3>
                    </div>
                    <div class="news-right-bottom-bg">
                        <div class="news-grids-bottom">
                            {% for page in top_news %}
                            <!-- news -->
                                <div class="top-news-grid">
                                    <div class="top-news-grid-heading">
                                        <a href="/news/newSingle/{{ page.id }}/">{{ page.short_content }}</a>
                                    </div>
                                    <div class="w3ls-news-t-grid top-t-grid">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-clock-o"></i> 1h</a></li>
                                            <li><a href="#"><i class="fa fa-user"></i> Vivamus nibh</a></li>
                                        </ul>
                                    </div>
                                </div>
                            <!-- news -->
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- //news-right-bottom -->
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //faq-banner -->
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="w3ls_footer_grid">
            <div class="col-md-6 w3ls_footer_grid_left">
                <div class="w3ls_footer_grid_left1">
                    <h2>Subscribe to us</h2>
                    <div class="w3ls_footer_grid_left1_pos">
                        <form action="#" method="post">
                            <input type="email" name="email" placeholder="Your email..." required="">
                            <input type="submit" value="Send">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 w3ls_footer_grid_right">
                <a href="/index/index/"><h2>One<span>Movies</span></h2></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-5 w3ls_footer_grid1_left">
            <p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank"
                                                                         href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
            </p>
        </div>
        <div class="col-md-7 w3ls_footer_grid1_right">
            <ul>
                <li>
                    <a href="/index/index/">首页</a>
                </li>
                <li>
                    <a href="/index/classify/1/">动作片</a>
                </li>
                <li>
                    <a href="/index/classify/6/">爱情片</a>
                </li>
                <li>
                    <a href="/index/classify/4/">悬疑片</a>
                </li>
                <li>
                    <a href="/index/classify/5/">恐怖片</a>
                </li>
                <li>
                    <a href="/index/classify/8/">科幻片</a>
                </li>
                <li>
                    <a href="/index/contact/">Contact Us</a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
<script src="../static/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $(".dropdown").hover(
            function () {
                $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                $(this).toggleClass('open');
            },
            function () {
                $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });
</script>
<!-- //Bootstrap Core JavaScript -->
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({easingType: 'easeOutQuart'});
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
        });
    });
</script>
<script src="/static/js/register.js"></script>
<script src="/static/js/logout.js"></script>
<!-- //here ends scrolling icon -->
</body>
</html>