<!DOCTYPE html>
<html lang="en">
<head>
    <title>Single</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //for-mobile-apps -->
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="/static/css/faqstyle.css" type="text/css" media="all"/>
    <link href="/static/css/medile.css" rel='stylesheet' type='text/css'/>
    <link href="/static/css/single.css" rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="/static/css/contactstyle.css" type="text/css" media="all"/>
    <!-- news-css -->
    <link rel="stylesheet" href="/static/news-css/news.css" type="text/css" media="all"/>
    <!-- //news-css -->
    <!-- list-css -->
    <link rel="stylesheet" href="/static/list-css/list.css" type="text/css" media="all"/>
    <!-- //list-css -->
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="/static/css/font-awesome.min.css"/>
    <!-- //font-awesome icons -->
    <!-- js -->
    <script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <!---<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>--->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="/static/js/move-top.js"></script>
    <script type="text/javascript" src="/static/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->

</head>

<body>
<!-- header -->
<div class="header">
    <div class="container">
        <div class="w3layouts_logo">
            <a href="/index/index/"><h1>One<span>Movies</span></h1></a>
        </div>
        <div class="w3_search">
            <form action="/list/search/" method="post">
                {% csrf_token %}
                <input type="text" name="Search" placeholder="搜索" required="">
                <input type="submit" value="确定">
            </form>
        </div>
        <div class="w3l_sign_in_register">
            <ul>
                {% if user.id %}
                    <li><i class="fa fa-phone" aria-hidden="true"></i>{{ user.tel }}</li>
                    <li><a href="#" id="log1">{{ user.name }}</a></li>
                    <li><a href="" id="log2" onclick="logout()">退出</a></li>
                {% else %}
                    <li><a href="#" data-toggle="modal" data-target="#myModal" id="log1">登录</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //header -->
<!-- bootstrap-pop-up -->
<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Sign In & Sign Up
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <section>
                <div class="modal-body">
                    <div class="w3_login_module">
                        <div class="module form-module">
                            <div class="toggle"><i class="fa fa-times fa-pencil"></i>
                                <div class="tooltip">Click Me</div>
                            </div>
                            <div class="form form1">
                                <h3>Login to your account</h3>
                                <form action="/index/login/" method="post">
                                    {% csrf_token %}
                                    <input type="text" name="phone" id="Username" placeholder="用户" required="">
                                    <input type="password" name="password" id="Password" placeholder="密码" required="">
                                    <input type="submit" value="登录">
                                </form>
                            </div>
                            <div class="form form2">
                                <h3>Create an account</h3>
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="text" name="Username" id="username" placeholder="用户" required="">
                                    <input type="password" name="Password" id="password" placeholder="密码" required="">
                                    <input type="email" name="Email" id="email" placeholder="邮箱" required="">
                                    <input type="text" name="Phone" id="phone" placeholder="电话号码" required="">
                                    <button type="submit">注册</button>
                                </form>
                            </div>
                            <div class="cta"><a href="#">Forgot your password?</a></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script>
    $('.toggle').click(function () {
        // Switches the Icon
        $(this).children('i').toggleClass('fa-pencil');
        // Switches the forms
        $('.form').animate({
            height: "toggle",
            'padding-top': 'toggle',
            'padding-bottom': 'toggle',
            opacity: "toggle"
        }, "slow");
    });
</script>
<!-- //bootstrap-pop-up -->
<!-- nav -->
<div class="movies_nav">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header navbar-left">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <nav>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/index/index/">首页</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">电影类型分类<b class="caret"></b></a>
                            <ul class="dropdown-menu multi-column columns-3">
                                <li>
                                    <div class="col-sm-4">
                                        <ul class="multi-column-dropdown">

                                            {% for type in types %}
                                                <li><a href="/index/classify/{{ type.id }}/">{{ type.type_name }}</a>
                                                </li>
                                            {% endfor %}

                                        </ul>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                            </ul>
                        </li>

                        <li><a href="/news/movnews/">新闻</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">电影地区分类<b class="caret"></b></a>
                            <ul class="dropdown-menu multi-column columns-3">
                                <li>
                                    {% for area in areas %}
                                        {% if forloop.counter >= 0 and forloop.counter <= 13 %}
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <li><a href="/area/area/{{ area.id }}/">{{ area.area_name }}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        {% endif %}
                                        {% if forloop.counter > 13 and forloop.counter <= 26 %}
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <li><a href="/area/area/{{ area.id }}/">{{ area.area_name }}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        {% endif %}
                                        {% if forloop.counter > 26 %}
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <li><a href="/area/area/{{ area.id }}/">{{ area.area_name }}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    <div class="clearfix"></div>
                                </li>
                            </ul>
                        </li>

                        <li><a href="/list/lista/{{ 0 }}/">A - z list</a></li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
</div>
<!-- //nav -->
<div class="general_social_icons">
    <nav class="social">
        <ul>
            <li class="w3_twitter"><a href="#">Twitter <i class="fa fa-twitter"></i></a></li>
            <li class="w3_facebook"><a href="#">Facebook <i class="fa fa-facebook"></i></a></li>
            <li class="w3_dribbble"><a href="#">Dribbble <i class="fa fa-dribbble"></i></a></li>
            <li class="w3_g_plus"><a href="#">Google+ <i class="fa fa-google-plus"></i></a></li>
        </ul>
    </nav>
</div>
<!-- faq-banner -->
<div class="faq">
    <div class="container">
        <div class="agileits-news-top">
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="news.html">News</a></li>
                <li class="active">Single</li>
            </ol>
        </div>
        <div class="agileinfo-news-top-grids">
            <div class="col-md-8 wthree-top-news-left">
                <div class="wthree-news-left">
                    <div class="wthree-news-left-img">
                        <img src="{{ news.img }}" alt=""/>
                        <h4>{{ news.short_content }}</h4>
                        <div class="s-author">
                            <p>Posted By <a href="#"><i class="fa fa-user" aria-hidden="true"></i> Admin</a> &nbsp;&nbsp;
                                <i class="fa fa-calendar" aria-hidden="true"></i> {{ news.time }} &nbsp;&nbsp; </p>
                        </div>
                        <div id="fb-root"></div>
                        <div class="news-shar-buttons">
                            <ul>
                                <li>
                                    <div class="fb-like" data-href="https://www.facebook.com/w3layouts"
                                         data-layout="button_count" data-action="like" data-size="small"
                                         data-show-faces="false" data-share="false"></div>
                                    <script>(function (d, s, id) {
                                        var js, fjs = d.getElementsByTagName(s)[0];
                                        if (d.getElementById(id)) return;
                                        js = d.createElement(s);
                                        js.id = id;
                                        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.7";
                                        fjs.parentNode.insertBefore(js, fjs);
                                    }(document, 'script', 'facebook-jssdk'));</script>
                                </li>
                                <li>
                                    <div class="fb-share-button" data-href="https://www.facebook.com/w3layouts"
                                         data-layout="button_count" data-size="small" data-mobile-iframe="true"><a
                                            class="fb-xfbml-parse-ignore" target="_blank"
                                            href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2Fw3layouts&amp;src=sdkpreparse">Share</a>
                                    </div>
                                </li>
                                <li class="news-twitter">
                                    <a href="https://twitter.com/w3layouts" class="twitter-follow-button"
                                       data-show-count="false">Follow @w3layouts</a>
                                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                                </li>
                                <li>
                                    <a href="https://twitter.com/intent/tweet?screen_name=w3layouts"
                                       class="twitter-mention-button" data-show-count="false">Tweet to @w3layouts</a>
                                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                                </li>
                                <li>
                                    <!-- Place this tag where you want the +1 button to render. -->
                                    <div class="g-plusone" data-size="medium"></div>

                                    <!-- Place this tag after the last +1 button tag. -->
                                    <script type="text/javascript">
                                        (function () {
                                            var po = document.createElement('script');
                                            po.type = 'text/javascript';
                                            po.async = true;
                                            po.src = 'https://apis.google.com/js/platform.js';
                                            var s = document.getElementsByTagName('script')[0];
                                            s.parentNode.insertBefore(po, s);
                                        })();
                                    </script>
                                </li>
                            </ul>
                        </div>
                        <div class="w3-agile-news-text">

                            <p>
                                {{ news.long_content }}
                            </p>

                        </div>
                    </div>
                </div>

                <div class="wthree-related-news-left">
                    <h4>Related News</h4>
                    <div class="wthree-news-top-left">

                        <div class="col-md-6 w3-agileits-news-left">

                            <div class="col-sm-5 wthree-news-img">
                                <a href="/news/newSingle/{{ related_news_left.id }}/"><img src="{{ related_news_left.img }}" alt=""/></a>
                            </div>
                            <div class="col-sm-7 wthree-news-info">
                                <h5><a href="/news/newSingle/{{ related_news_left.id }}/">{{ related_news_left.title }}</a></h5>
                                <p>
                                    {% if related_news_left.short_content|length >= 50 %}
                                        {{ related_news_left.short_content|slice:"50" }}...
                                    {% else %}
                                        {{ related_news_left.short_content }}
                                    {% endif %}
                                </p>
                                <ul>
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i>{{ related_news_left.time }}</li>
                                    <li><i class="fa fa-eye" aria-hidden="true"></i>{{ related_news_left.view }}</li>
                                </ul>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-6 w3-agileits-news-left">

                            <div class="col-sm-5 wthree-news-img">
                                <a href="/news/newSingle/{{ related_news_right.id }}/"><img src="{{ related_news_right.img }}" alt=""/></a>
                            </div>
                            <div class="col-sm-7 wthree-news-info">
                                <h5><a href="/news/newSingle/{{ related_news_right.id }}/">{{ related_news_right.title }}</a></h5>
                                <p>
                                    {% if related_news_right.short_content|length >= 50 %}
                                        {{ related_news_right.short_content|slice:"50" }}...
                                    {% else %}
                                        {{ related_news_right.short_content }}
                                    {% endif %}
                                </p>
                                <ul>
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i>{{ related_news_right.time }}</li>
                                    <li><i class="fa fa-eye" aria-hidden="true"></i>{{ related_news_right.view }}</li>
                                </ul>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                </div>
                <!-- agile-comments -->
{#                <div class="agile-news-comments">#}
{#                    <div class="agile-news-comments-info">#}
{#                        <h4>Comments</h4>#}
{#                        <div class="fb-comments" data-href="https://w3layouts.com/" data-width="100%"#}
{#                             data-numposts="5"></div>#}
{#                    </div>#}
{#                </div>#}
                <!-- //agile-comments -->
                <div class="news-related">

                </div>
            </div>
            <div class="col-md-4 wthree-news-right">
                <!-- news-right-top -->
                <div class="news-right-top">
                    <div class="wthree-news-right-heading">
                        <h3>Updated News</h3>
                    </div>
                    <div class="wthree-news-right-top">
                        <div class="news-grids-bottom">
                            <!-- date -->
                            <div id="design" class="date">
                                <div id="cycler">
                                    {% for new in update_news %}
                                        <div class="date-text">
                                            <a href="/news/newSingle/{{ new.id }}/">{{ new.time }}<span class="blinking"><img src="/static/images/new.png" alt="" /></span></a>
                                            <p>
                                                {% if new.short_content|length >= 30 %}
                                                    {{ new.short_content|slice:"30" }}...
                                                {% else %}
                                                    {{ new.short_content }}
                                                {% endif %}
                                            </p>
                                        </div>
                                    {% endfor %}
                                </div>
                                <script>
                                    function blinker() {
                                        $('.blinking').fadeOut(500);
                                        $('.blinking').fadeIn(500);
                                    }

                                    setInterval(blinker, 1000);
                                </script>
                                <script>
                                    function cycle($item, $cycler) {
                                        setTimeout(cycle, 2000, $item.next(), $cycler);

                                        $item.slideUp(1000, function () {
                                            $item.appendTo($cycler).show();
                                        });
                                    }
                                    cycle($('#cycler div:first'), $('#cycler'));
                                </script>
                            </div>
                            <!-- //date -->
                        </div>
                    </div>
                </div>
                <!-- //news-right-top -->
                <!-- news-right-bottom -->
                <div class="news-right-bottom">
                    <div class="wthree-news-right-heading">
                        <h3>Top News</h3>
                    </div>
                    <div class="news-right-bottom-bg">
                        <div class="news-grids-bottom">

                            {% for top_new in top_news %}
                                <div class="top-news-grid">
                                    <div class="top-news-grid-heading">
                                        <a href="/news/newSingle/{{ top_new.id }}/">
                                            {% if top_new.short_content|length >= 30 %}
                                                {{ top_new.short_content|slice:"30" }}...
                                            {% else %}
                                                {{ top_new.short_content }}
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="w3ls-news-t-grid top-t-grid">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-clock-o"></i> 1h</a></li>
                                            <li><a href="#"><i class="fa fa-user"></i> Vivamus nibh</a></li>
                                        </ul>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
                <!-- //news-right-bottom -->
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="w3l-latest-movies-grids">
        <h4 class="latest-text w3_latest_text">Latest Movies</h4>
        <div class="container">
            <!-- /latest-movies -->
            <div class="browse-inner">

                {% for footer_movie in footer_movies %}
                    <div class="col-md-2 w3l-movie-gride-agile">
                        <a href="/single/single/{{ footer_movie.id }}/" class="hvr-shutter-out-horizontal">
                            <img src="{{ footer_movie.img }}" style="height: 268px; width: 182px;" title="album-name" alt=" "/>
                            <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                        </a>
                        <div class="mid-1">
                            <div class="w3l-movie-text">
                                <h6><a href="/single/single/{{ footer_movie.id }}/">{{ footer_movie.name }}</a></h6>
                            </div>
                            <div class="mid-2">

                                <p>{{ footer_movie.year }}</p>
                                <div class="block-stars">
                                    <ul class="w3l-ratings">
                                        {{ footer_movie.score }}
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </div>
                        <div class="ribben">
                            <p>NEW</p>
                        </div>
                    </div>
                {% endfor %}

                <div class="clearfix"></div>
            </div>
            <!-- //latest-movies -->

        </div>
    </div>
</div>
<!-- //faq-banner -->
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="w3ls_footer_grid">
            <div class="col-md-6 w3ls_footer_grid_left">
                <div class="w3ls_footer_grid_left1">
                    <h2>Subscribe to us</h2>
                    <div class="w3ls_footer_grid_left1_pos">
                        <form action="#" method="post">
                            <input type="email" name="email" placeholder="Your email..." required="">
                            <input type="submit" value="Send">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 w3ls_footer_grid_right">
                <a href="/index/index/"><h2>One<span>Movies</span></h2></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-5 w3ls_footer_grid1_left">
            <p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank"
                                                                         href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
            </p>
        </div>
        <div class="col-md-7 w3ls_footer_grid1_right">
            <ul>
                <li>
                    <a href="/index/index/">首页</a>
                </li>
                <li>
                    <a href="/index/classify/1/">动作片</a>
                </li>
                <li>
                    <a href="/index/classify/6/">爱情片</a>
                </li>
                <li>
                    <a href="/index/classify/4/">悬疑片</a>
                </li>
                <li>
                    <a href="/index/classify/5/">恐怖片</a>
                </li>
                <li>
                    <a href="/index/classify/8/">科幻片</a>
                </li>
                <li>
                    <a href="/index/contact/">Contact Us</a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
<script src="../static/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $(".dropdown").hover(
            function () {
                $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                $(this).toggleClass('open');
            },
            function () {
                $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });
</script>
<!-- //Bootstrap Core JavaScript -->
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({easingType: 'easeOutQuart'});
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
        });
    });
</script>
<script src="/static/js/register.js"></script>
<script src="/static/js/logout.js"></script>
<!-- //here ends scrolling icon -->
</body>
</html>